#bar {
    display: flex;
    padding: 12px;
    color: var(--text);
}

#bar button {
    color: var(--text);
}

#user {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 12px;
}

#user > a {
    text-decoration: underline;
}

div#user > * {
    margin: 2px;
}

#bar > #search {
    border-radius: 16px;
    background: var(--text);
    color: var(--black);
    align-items: center;
    display: flex;
    padding: 0px 8px; 
    margin-left: 6px;
    font-size: 12px;
}

#bar > #search > input {
    background: none;
    border: none;
    margin-left: 4px;
    outline: none;
}