:root {
    --black: #111111;
    --offwhite: #eeeeee;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 1fr 100px;
    grid-template-columns: 200px 1fr;
    margin: 0px;
}

body > div {
    border: 1px solid black;
}

#play {
    grid-column: 1/3;
}